*, ::before, ::after {

    padding: 0;
    margin: 0;
}


#header-img {
    width: 5Opx;
    height: 50px;
    border-radius: 60%;
    margin-right: auto;
    margin-left: 20px;
}

#nav-bar {
    display: flex;
    align-items: center; 
    margin: 0;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 10%;
    z-index: 1;
    background-color: rgb(74, 67, 67);
    
}

 .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    height: 100%;
   margin: 0 auto;
    padding: 0 2rem;
    font-size: large;


}

.nav-link {
    color: aliceblue;
    text-decoration: none;
    padding: 27px 10px;
    
}

.nav-link:hover {
    color: aliceblue;
    text-decoration: none;
    background-color: rgb(27, 26, 26);
    text-transform: uppercase;

}
#header-background {
    padding: 150px 0;
    max-width: 100%;
    background-color: rgba(51, 50, 50, 0.986);
}
#header-text {
    text-align: center;
    color: aliceblue;
    font-size: 20px;
    margin: 0;
    padding: 0;
    line-height: 2.5rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

#features {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

#features .feature {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
    margin: 0 20px;
    border: 1px solid #2a2626;
    border-radius: 5px;
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
    background-color: #fff;
    
}

#features .feature h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

#features .feature p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
}

#features .feature i {
    font-size: 50px;
    margin-bottom: 20px;
}

#features .feature:hover {
    background-color: #333;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}


#how-it-works h2{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

#how-it-works iframe {
    margin: 0 auto;
    display:block;
    margin-bottom:  20px;
    width: 50%;
    height: 350px;
}

#price {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    background-color: rgb(253, 253, 253);
}
 #price .price {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
    margin: 0 20px;
    border: 1px solid #ccc;
    width:  300px;
    height: 300px;
    margin-bottom: 20px;
    
 }

 #price .price ul {
    list-style : none;
    padding: 0;
    margin: 0;
    text-align: center;
    line-height: 2rem;
    
 }

 #price .price h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    background-color: #000000;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    color: white;
 }

 #price button {
    width: 50%;
    height: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 20px;
    margin-bottom: 20px;
    background-color: orange;
    color: black;
    font-weight: 700;
    cursor: pointer;
    display: block;
    margin: 0 auto;
 }

 #price button:hover {

    background-color: #333;
    color: white;
    font-weight: 700;
    cursor: pointer;

 }

 #price .price p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: justify;
 }

 #footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    background-color: #605858;
 }

 #footer #footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
 }

 #footer #footer-links ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
 }

 #footer #footer-links ul li a {
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    padding: 0 20px;
 }

@media only screen and (max-width: 768px) {

    .nav-list {
        display: flex;
        justify-content: center;
        align-items: center;
        
    
    }

    #features {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 50px 0;

    }

    #how-it-works iframe { 
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        
    }

    #price {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 50px 0;
        background-color: rgb(253, 253, 253);
    }
}
